#### Lendo arquivo csv

In [ ]:
import zipfile
import pandas as pd

# Setando as configuracoes do pandas ao visualizar dados
pd.set_option('display.max_columns', None)

with zipfile.ZipFile("../01 - Banco de dados/netflix_titles.csv.zip") as myzip:
    with myzip.open(myzip.namelist()[0]) as mycsv:
        df = pd.read_csv(mycsv)
        df = df.convert_dtypes()
        df.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7787 entries, 0 to 7786
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       7787 non-null   string
 1   type          7787 non-null   string
 2   title         7787 non-null   string
 3   director      5398 non-null   string
 4   cast          7069 non-null   string
 5   country       7280 non-null   string
 6   date_added    7777 non-null   string
 7   release_year  7787 non-null   Int64
 8   rating        7780 non-null   string
 9   duration      7787 non-null   string
 10  listed_in     7787 non-null   string
 11  description   7787 non-null   string
dtypes: Int64(1), string(11)
memory usage: 737.8 KB

### Analise exploratoria

#### Info DataFrame

In [11]:
# Obter informações resumidas da base
# Qnt de linhas
# Qnt de colunas
# Tipos de dados
# Uso de memoria do computador

df.info(verbose=False)

print("Linhas, Colunas")
df.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7787 entries, 0 to 7786
Columns: 12 entries, show_id to description
dtypes: Int64(1), string(11)
memory usage: 737.8 KB
Linhas, Colunas

(7787, 12)

#### Analise de tipo de dados

In [ ]:
# Analisando dados tipo - Integer
df.select_dtypes(include="int").head()

   release_year
0          2020
1          2016
2          2011
3          2009
4          2008

In [ ]:
# Analisando dados tipo - String
df.select_dtypes(include="string").head()

,show_id,type,title,director,cast,country,date_added,rating,duration,listed_in,description
0,s1,TV Show,3%,<NA>,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,"August 14, 2020",TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...
1,s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...
2,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,"December 20, 2018",R,78 min,"Horror Movies, International Movies","When an army recruit is found dead, his fellow..."
3,s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,"November 16, 2017",PG-13,80 min,"Action & Adventure, Independent Movies, Sci-Fi...","In a postapocalyptic world, rag-doll robots hi..."
4,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,"January 1, 2020",PG-13,123 min,Dramas,A brilliant group of students become card-coun...

#### Dados nulos

In [16]:
# Dados nullos
df.isnull().sum()

show_id            0
type               0
title              0
director        2389
cast             718
country          507
date_added        10
release_year       0
rating             7
duration           0
listed_in          0
description        0
dtype: int64